html {
    box-sizing: border-box;
}

.container, p, img, .item {
    border: 2px solid black;
    margin: 2px;
}

.container {
    border: 2px solid red;
}

.flex-cont {
    display: flex;
}

.flex-basis80 {
    flex: 0 1 80%;
}

.flex-basis20 {
    flex: 0 1 20%;
}

.width750px {
    width: 750px;
}

.width100px {
    width: 100px;
}

.height200px {
    height: 200px;
}

.flex00100px {
    flex: 0 0 100px;
}

.flex10100px {
    flex: 1 0 100px;
}

.justifycent {
    justify-content: center;
}

.width100 {
    width: 100%;
}

.width80 {
    width: 80%;
}

.width20 {
    width: 20%;
}

.wrap {
    flex-wrap: wrap;
}

p {
    background-color: grey;
}

img {
    height: 120px;
}