html {
    box-sizing: border-box;
}

.container, p, img {
    border: 2px solid black;
    margin: 2px;
}

.container {
    border: 2px solid red;
}

.flex-cont {
    display: flex;
}

.justifycent {
    justify-content: center;
}

.width100 {
    width: 100%;
}

.width80 {
    width: 80%;
}

.width20 {
    width: 20%;
}

.wrap {
    flex-wrap: wrap;
}

p {
    background-color: grey;
}

img {
    height: 120px;
}